body
{
	font-family: 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
}

img
{
    float: left;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
}

#righty
{
    float: right;
}

#upspace
{
    margin-top: 100px;
}

#upspace2
{
    margin-top: 40px;
}

.city
{
    float: left;
    margin-left: 5px;
    margin-right: 20px;
}

.space
{
    margin-bottom: 30px;
}

#ok 
{
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.caption
{
    font-size: 11px;
    color: GrayText;
    margin-right: 4px;
}

h3
{
    color: forestgreen;
}

#active
{
    background-color: lightgray;
    float: right;
}

.navbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkseagreen;
}

li 
{
    float: left;
}

li a
{
    display: block;
    background-color: darkseagreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: whitesmoke;
}